

.Header {
    background-color: whitesmoke ;
    text-align: center;
    color: black;
    padding: 35px;
}

.About-Head {
    text-align: left;
    color: aliceblue ;
    font-family: "Bell MT";
    padding: 100px;
    padding-top: 50px;
}

.game-Head {
    text-align: center;
    color: aliceblue ;
    font-family: "Bell MT";
    font-size: x-large;

}

.form-Head {
    text-align: left;
    color: aliceblue ;
    font-family: "Bell MT";
    padding: 50px;
    margin: auto;

}

.Proticol-Evolution {

    border: medium white;
    border-radius: 10px;
    text-align: left;
    font-size: large;

}






