

.Header {
    background-color: aliceblue ;
    text-align: left;
    color: black;
    padding: 50px;
    border: solid lightskyblue 5px;
}

.About-Head {
    text-align: left;
    color: aliceblue ;
    font-family: "Bell MT";
    padding: 100px;
    padding-top: 50px;
}

.game-Head {
    text-align: center;
    color: aliceblue ;
    font-family: "Bell MT";
    font-size: x-large;

}

.form-Head {
    text-align: left;
    color: aliceblue ;
    font-family: "Bell MT";
    padding: 50px;
    margin: auto;

}

.Proticol-Evolution {

    border: medium white;
    border-radius: 10px;
    text-align: left;
    font-size: large;

}

.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    border: solid lightblue 5px;
    margin: 20px;
    padding: 30px;
}


.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    color: black
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}


.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active, .dot:hover {
    background-color: #717171;
}


q {font-style: italic;}


.author {color: cornflowerblue;}

.NewsHead {
    text-align: center;
    font-family: Impact;
    padding: 125px;
}






